
#navbar{
  font-family: 'Open Sans', sans-serif;
}

#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  top: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 14px; /* 15px padding */
  width: 170px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 25px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  margin-top: 50px;
  text-align: left;
}

#mySidenav h1{
  position: absolute;
  right: 20px;
  top: 0;
  border-radius: 5px;
  font-size: 50px;
  cursor: pointer;
}

#mySidenav{
  transition: .3s;
}

#mySidenav:hover a{
  opacity: 1;
  transition: .3s;
  right: 0px;
}

#mySidenav a { /* On mouse-over, make the elements appear as they should */
  opacity: 0;
  transition: 0.3;
  z-index: 10;
}


#mySidenav a:hover {
  right: 15px; /* On mouse-over, make the elements appear as they should */
  opacity: 1;
}

/* The about link: 20px from the top with a green background */
#about {
  top: 20px;
  background-color: #03a9a9;
}

#blog {
  top: 80px;
  background-color: #03a9a9; /* Blue */
}

#projects {
  top: 140px;
  background-color: #03a9a9; /* Red */
}

#contact {
  top: 200px;
  background-color: #03a9a9 /* Light Black */
}

body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 17px;
  box-sizing: border-box;
}
#showcase h1{
  color: #ffffff;
}

.primary-text{
  color: #03a9a9;
}

#main-header{
  height: 75px;
  border-bottom: 1px solid #03a9a9
}



#main-header h1{
  margin-top: 25px;
}

#navbar{
  text-transform: uppercase;
  margin-top: 8px;
}

#navbar li{
  display: inline;
  padding-right: 20px;
  list-style: none;
  font-weight: 600;
}

#navbar li a{
  text-decoration: none;
  color: #888888;
  color:lightslategrey;
  transition: 0.3s ease
}

#navbar li.active a, #navbar a:hover{
  color: #03a9a9;
  border-bottom: 3px solid #03a9a9;
  padding-bottom: 3px;
}

#showcase{
  background:linear-gradient( rgba(50, 50, 50, 0.5) 100%, rgba(100, 100, 100, 0.8)100%), url(../img/men.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 1px solid #03a9a9;
  margin-bottom: 30px;
  height: 500px;
  padding-top: 150px;
}


#showcase h1{
  font-size: 50px;
  margin: 0px;
  padding-bottom: 20px;
}

#showcase p{
  color: #cccccc;
  margin: 0;

}

#showcase-content{
  background-color:rgb(92, 91, 91, 0.5) ;
  width: 900px;
  padding: 40px;
  border-radius: 90px;
  margin: auto;
  text-align: center;
  opacity: 0.9
}

.black{
  color: black
}

#features{
  text-align: center;
  height: 570px;
}

#features h2{
  font-size: 35px;
  margin: 0;
  padding-bottom: 10px;
}

#features p{
  color: #888888;
  margin-bottom: 40px;
  font-size: 20px;
}

#features .fa{
  font-size: 60px;
  color: #03a9a9
}

.tel{
  height: 500px;
  width: 100%;
}



#info{
  margin-top: 50px;
  background-color: rgb(105, 105, 105, 1);
  height: 520px;
  text-align: center;
  color: #ffffff;
}


#info h2{
  font-size: 35px;
  margin: 0;
  padding-bottom: 10px;
}

#info ul{
  list-style: none;
  padding: 0;
}

#info li{
  font-size: 20px;
}

.top{
  margin-top: 120px;
}

#company{
  background: #333333;
  height: 200px;
  color: #ffffff;
  padding: 10px 0;
}

#company h4{
  text-transform: uppercase;
  margin-bottom: 0;
}

.fa-phone, .fa-envelope, .fa-map{
  padding-right: 5px;
}

#company ul{
  padding: 0;
  list-style: none;

}

#company input{
  padding: 7px;
}

#company button{
  background: #222222;
  color: #ffffff;
  padding: 10px;
  border: 0;
}



#main-footer{
  height: 60px;
  text-align: center;
  background-color: #03a9a9;
  color: #fff;
}



 @media only screen and (max-width:960px) {
  #showcase-content{
    width: 700px;
  }

  #showcase-content h1{
    font-size: 40px;
  }

  #showcase-content p{
    font-size: 20px;
  }

  #features{
    height: 750px;
  }

  #info{
    height: 500px;
  }

  .tel{
    width: 450px;
  }

  #company{
    height: 220px;
  }

  #company li, p{
  font-size: 17px;
  }

  #company input{
    width: 130px;
  }

  #main-footer{
    height: 70px;
  }

}

@media only screen and (max-width:768px) {
  #showcase-content{
    width: 500px;
  }


  #mySidenav h1{
    position: absolute;
    right: 0px;
    top: 0;
    border-radius: 5px;
    font-size: 50px;
    cursor: pointer;
  }

  #navbar{
    padding-left: 70px;
  }

  #showcase h1{
    font-size: 35px;
    padding-bottom: 20px;

  }

  #showcase p{
    font-size: 17px;
  }

  #features{
    height: 1050px;
  }

  #info{position:relative;
    margin-top: 140px;
    height: 700px;
  }

  .tel{
    width: 350px;
    height: 400px;
    margin-top: 60px;
  }

  #company{
    height: 300px;
  }

  #company h4{
    font-size: 15px;
  }

  #company li, p{
    font-size: 14px;
  }

  #company input{
    width: 105px;
    height: 30px;
    font-size: 12px;
  }

  #company button{
    width: 55px;
    font-size: 12px;
  }

}

@media only screen and (max-width:576px) {
  body{
    box-sizing: border-box;
  }
  .container{width: 500px;
  }

  #mySidenav h1{
    position: absolute;
    right: -100px;
    top: -25px;
    border-radius: 5px;
    font-size: 50px;
    cursor: pointer;
  }

  #mySidenav:hover a {
    right: 10px; /* On mouse-over, make the elements appear as they should */
    opacity: 1;
  }

  #mySidenav:hover a{
    opacity: 1;
    transition: .3s;
    right: -100px;
  }

  #main-header{
    text-align: center;
    height: 150px;
    width: 500px;
  }
  .right{
    float: none;
  }

  #showcase{
    height: 400px;
    padding-top: 130px;
    text-align: center;
    background-size: 576px 400px;
    width: 500px;
  }

  #showcase h1{
    font-size: 30px;
    padding-bottom: 15px;
  }

  #showcase p{
    font-size: 20px;
  }

  #showcase-content{
    width: 460px;
  }

  #features{
    height: 1600px;
    width: 500px;
    position:relative;
  }

  #info{
    margin-top: 250px;
    position: relative;
    height: 800px;
    width: 500px;
  }

  .top{
    margin-top: 0;
  }

  #company{
    margin-top: 100px;
    position: relative;
    height: 500px;
    width: 500px;
  }

  #main-footer{
    width: 500px;
  }
}

/* about */


#about-section-one {
  text-align: center;
}
#about-section-one img{
  width: 100%;
  border-radius: 10px;
}

#about-section-one h1{
  text-align: center;
  margin-top: 35px;
}

#about-section-one >div:nth-child(1){
  background-color: rgba(105, 105, 105, 0.5);
  border-radius: 5px;
  margin-bottom: 50px;

}




@media only screen and (max-width:400px) {
  .container{width: 350px;
  }
  #main-header{
    text-align: center;
    height: 150px;
    width: 500px;
  }
  .right{
    float: none;
  }

  #showcase{
    height: 400px;
    padding-top: 130px;
    text-align: center;
    background-size: cover;
    width: 500px;
  }

  #showcase h1{
    font-size: 25px;
    padding-bottom: 13px;
  }

  #showcase p{
    font-size: 13px;
  }

  #showcase-content{
    width: 500px;
  }

  #features{
    height: 1300px;
    width: 500px;
  }

  #info{
    height: 800px;
    width: 500px;
  }

  .top{
    margin-top: 0;
  }

  #company{
    height: 500px;
    width: 500px;
  }

  #main-footer{
    width: 500px;
  }


  #contact h1{
    font-size: 25px;
  }

  #contact label{
    font-weight: 600;
  }

  #contact textarea{
    border-radius: 15px;
    position: relative;
    top: 10px;
    width: 400px;
  }

  #ques{
    padding: 5px 10px;
    background-color: #03a9a9;
    font-size: 15px;
    font-weight: 400;
    border-radius:15px;
    color: #ffffff;
    position: relative;
    top: 15px;
    cursor: pointer;
    box-shadow: none;
    transition: 0.5s;
  }

  #contact ul li {
    list-style: none;
    text-decoration: none;
    margin-bottom: 8px;
    font-weight: 500;
    color: black;
    transition: 0.5s;
    padding-left: 0px;
    margin-left: 0px;
  }

  #Social{
    padding-top: 20px;
  }

  #contact ul li a{
    text-decoration: none;
    font-size: 25px;
    color: black;
    transition: 0.5s;
    border-bottom: 1px solid rgba(255, 0, 0, 0);
    padding-left: 0px;
    margin-left: 0px;
  }

  #contact ul li a i{
    font-size: 30px;
    padding-right: 10px;
  }
}

/* contact */

#contact h1{
  font-size: 25px;
}

#contact label{
  font-weight: 700;
  font-size: 20px;
}

#contact textarea{
  border-radius: 15px;
  position: relative;
  top: 10px;
}

#ques{
  padding: 10px 15px;
  background-color: #03a9a9;
  font-size: 20px;
  font-weight: 400;
  border-radius:15px;
  color: #ffffff;
  position: relative;
  top: 15px;
  cursor: pointer;
  box-shadow: none;
  transition: 0.5s;
}

#ques:hover{
  box-shadow: 1px 3px 10px 1px #03a9a9;
}

#contact ul li {
  list-style: none;
  text-decoration: none;
  margin-bottom: 8px;
  font-weight: 500;
  color: black;
  transition: 2s;
}

#contact ul li a{
  text-decoration: none;
  font-size: 25px;
  color: black;
  transition: 0.5s;
  border-bottom: 1px solid rgba(255, 0, 0, 0);
}

#contact ul li a i{
  font-size: 30px;
  padding-right: 10px;
}



#contact ul li a:hover{
  border-bottom: 2px solid rgba(85, 87, 85, 1);

}
